body{
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

#hero{
  margin: 64px auto 64px;
  text-align: center;
}

#hero img{
  margin-bottom: 32px;
}

h1{
  font-family: "Dosis", sans-serif;
  color: #3F3D56;
  margin-bottom: 16px;
  font-size: 32px;
}

h1 span{
  color: #EE24FF;
}

#p1{
  margin: auto;
  width: 540px;
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;
}

p span{
  color: #3F3D56;
  font-weight: bold;
}

a{
  color: #3F3D56;
  font-weight: bold;
  text-decoration: none;
}

#footer{
  margin: auto;
  text-align: center;
}

.line{
  border: 1px solid #ECEFF2;
  width: 391px;
  margin: 0px auto 16px;
}

#footer a + a{
  margin-left: 42px;
}

#footer #wave{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}